*.iml
.gradle/
/local.properties
local.properties
.idea/
.DS_Store
/build/
/captures
.externalNativeBuild
.cxx
*.apk
.vscode/
ignore
ignore/*

assets/audios/*/*
!assets/audios/*/*.md

assets/imgs/*
!assets/imgs/*.md

assets/fonts/*
!assets/fonts/*.md

assets/txt/*
!assets/txt/*.md

assets/bin/*
!assets/bin/*.md

app/src/main/res/drawable/app_logo.png
app/src/main/res/drawable/head_*_icon.png

# Firebase secrets & client configs
app/google-services.json
*firebase-adminsdk*.json
*serviceAccountKey*.json
